body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: rgb(1, 1, 51) !important;
}

.nav-link{
  color: white !important;
}

.navbar-brand{
  color: white !important;
}

h1{
  font-size: 18px !important;
  text-align: left !important;
}

.img-fluid{
  height: 200px !important;
}

.bigimg{
  width: 300px;
  height: auto;
  object-position: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

p{
  text-align: left !important;
}

input{
  box-shadow: none !important;
  margin-top: 15px !important;
  border: 1px solid black !important;
}